
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/EN/Shared/_Layout.cshtml";
}

<div class="row m-auto">
    <div class="col-xl-12 col-sm-12 p-0">
        <div class="container">
            <div class="top-telephone">
                <h5>+44-7501-655-600</h5>
            </div>
        </div>
        <img class="page-header-img" src="/Content/img/page-head.png" />
    </div>
</div>
<div class="container page-container">
    <div class="row page-header-nav">
        <div class="col-md-12 pl-0 pr-0">
            <div class="float-left pl-0" style="color:#fff;">
                <img src="/Content/img/arrow-right.png" />
                <a href="/">Home</a> / <a href="/EN/Blog">Blog</a>
            </div>
            <div class="float-right text-right">
                <a href="#"><img src="/Content/img/arrow-left.png" /> Turn Back</a>
            </div>
        </div>
    </div>
    <div class="row mt-1 page-content-row">
        <div class="page-content col-xl-12 white p-5">
            <div class="mt-3">
                <h5 style="font-weight: lighter;">NOA MedCare</h5>
                <h4 class="font-weight-bolder">Blog</h4>
                <span class=" mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <img class="" src="/Content/img/dentis.png" width="100%" />
                    </div>
                    <div class="col-md-12 mt-3">
                        <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px;" /> 30.12.2019</span>
                    </div>
                    <div class="col-md-12">
                        <span class=" mt-3 d-block" style="border-top: 3px solid #6ccbdd; border-radius: 5px; width: 300px;"></span>
                    </div>
                    <div class="col-md-12  mt-3">
                        <h6 class="font-weight-bold">Hair Transplantation at NOA Clinic</h6>
                        <p class="mt-3">
                            Sed vel orci eleifend lacus commodo finibus in vitae ipsum. Aenean eros velit, imperdiet non consequat sed, consequat nec nunc. Aliquam ullamcorper nunc in orci elementum pretium. Nunc erat nunc, porta in turpis eu, sodales rhoncus est. Nam a metus eros. Nullam convallis auctor odio, nec dictum sem feugiat vel. Nam tempor vitae odio eu elementum. Nulla ante mi, iaculis nec turpis at, euismod ullamcorper leo. Mauris id eleifend tellus. Morbi commodo turpis quis tristique euismod. Suspendisse ut massa et ipsum pretium iaculis. Suspendisse bibendum a magna vel imperdiet.

                            Ut sapien lectus, condimentum at quam non, porttitor auctor nunc. Phasellus malesuada elit arcu, in sagittis erat dictum sit amet. Vivamus rhoncus et tellus sit amet dictum. Aliquam elit odio, dictum sit amet luctus eu, commodo et velit. Aliquam convallis pharetra leo ut ultrices. Morbi felis risus, imperdiet quis congue eu, congue nec mi. Aenean maximus blandit ex, vel congue nisi tincidunt sit amet. Morbi eu sollicitudin eros, et tristique arcu. Maecenas in risus orci.

                            Nunc dignissim finibus libero, sed sagittis lorem tristique in. Fusce orci turpis, interdum in diam eget, semper sollicitudin turpis. Sed elit neque, imperdiet id sagittis et, dapibus sed sapien. Maecenas et risus a arcu bibendum euismod. Cras in tincidunt dui, bibendum ornare enim. Ut sodales eget erat in interdum. Sed viverra leo nec lacus blandit, sit amet tempus neque laoreet. Aenean varius mi vel pulvinar cursus. Vivamus pellentesque mattis maximus. Proin venenatis orci ac nunc elementum posuere. Vestibulum eget dui eu nulla gravida vehicula commodo in urna.

                            Sed et hendrerit quam. Fusce sem risus, ultrices nec lacinia ut, accumsan fringilla tellus. Pellentesque est tellus, bibendum eget fermentum quis, consequat sed dui. Suspendisse ac ex eget nunc tincidunt sodales a nec magna. Vivamus bibendum egestas nulla, eget suscipit enim tempus id. Nullam at varius velit. Nulla scelerisque faucibus mauris, sed faucibus magna mattis ut. Fusce convallis felis lacus, ut ullamcorper turpis ornare vel. Suspendisse sodales efficitur nulla eget porttitor. Nulla feugiat est sed ante aliquam hendrerit id et mauris.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

