
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/EN/Shared/_Layout.cshtml";
    <style>
        .carebox .col-md-4 {
            margin-bottom: 30px;
        }
        
    </style>
}

<div class="row m-auto">
    <div class="col-xl-12 col-sm-12 p-0">
        <div class="container">
            <div class="top-telephone">
                <h5>+44-7501-655-600</h5>
            </div>
        </div>
        <img class="page-header-img" src="/Content/img/page-head.png" />
    </div>
</div>
<div class="container page-container">
    <div class="row page-header-nav">
        <div class="col-md-12 pl-0 pr-0">
            <div class="float-left pl-0" style="color:#fff;">
                <img src="/Content/img/arrow-right.png" />
                <a href="/">Home</a> / <a href="#">Blog</a>
            </div>
            <div class="float-right text-right">
                <a href="#"><img src="/Content/img/arrow-left.png" /> Turn Back</a>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="page-content col-xl-12 white p-5">
            <div class="mt-3">
                <h5 style="font-weight: lighter;">NOA MedCare</h5>
                <h4 class="font-weight-bolder">Blog</h4>
                <span class=" mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                <div class="row mt-5 carebox ">
                    <div class="col-md-4">
                        <div class="box white blog">
                            <img src="/Content/img/block1.png" class="ml-auto mr-auto d-block w-100" />
                            <div class="box-content  pl-5 text-left mt-5" style="width: 85%;">
                                <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                                <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                                <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                                <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                            </div>
                            <div class="box-footer pl-5">
                                <a href="/EN/BlogDetail">
                                    <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                                    LEARN MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box white blog">
                            <img src="/Content/img/block2.png" class="ml-auto mr-auto d-block w-100" />
                            <div class="box-content pl-5 text-left mt-5" style="width: 85%;">
                                <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                                <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                                <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                                <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                            </div>
                            <div class="box-footer pl-5">
                                <a href="/EN/BlogDetail">
                                    <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                                    LEARN MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box white blog">
                            <img src="/Content/img/block3.png" class="ml-auto mr-auto d-block w-100" />
                            <div class="box-content pl-5 text-left mt-5" style="width: 85%;">
                                <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                                <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                                <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                                <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                            </div>
                            <div class="box-footer pl-5">
                                <a href="/EN/BlogDetail">
                                    <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                                    LEARN MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box white blog">
                            <img src="/Content/img/block1.png" class="ml-auto mr-auto d-block w-100" />
                            <div class="box-content  pl-5 text-left mt-5" style="width: 85%;">
                                <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                                <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                                <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                                <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                            </div>
                            <div class="box-footer pl-5">
                                <a href="/EN/BlogDetail">
                                    <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                                    LEARN MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box white blog">
                            <img src="/Content/img/block2.png" class="ml-auto mr-auto d-block w-100" />
                            <div class="box-content pl-5 text-left mt-5" style="width: 85%;">
                                <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                                <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                                <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                                <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                            </div>
                            <div class="box-footer pl-5">
                                <a href="/EN/BlogDetail">
                                    <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                                    LEARN MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box white blog">
                            <img src="/Content/img/block3.png" class="ml-auto mr-auto d-block w-100" />
                            <div class="box-content pl-5 text-left mt-5" style="width: 85%;">
                                <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                                <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                                <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                                <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                            </div>
                            <div class="box-footer pl-5">
                                <a href="/EN/BlogDetail">
                                    <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                                    LEARN MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box white blog">
                            <img src="/Content/img/block1.png" class="ml-auto mr-auto d-block w-100" />
                            <div class="box-content  pl-5 text-left mt-5" style="width: 85%;">
                                <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                                <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                                <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                                <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                            </div>
                            <div class="box-footer pl-5">
                                <a href="/EN/BlogDetail">
                                    <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                                    LEARN MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box white blog">
                            <img src="/Content/img/block2.png" class="ml-auto mr-auto d-block w-100" />
                            <div class="box-content pl-5 text-left mt-5" style="width: 85%;">
                                <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                                <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                                <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                                <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                            </div>
                            <div class="box-footer pl-5">
                                <a href="/EN/BlogDetail">
                                    <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                                    LEARN MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box white blog">
                            <img src="/Content/img/block3.png" class="ml-auto mr-auto d-block w-100" />
                            <div class="box-content pl-5 text-left mt-5" style="width: 85%;">
                                <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                                <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                                <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                                <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                            </div>
                            <div class="box-footer pl-5">
                                <a href="/EN/BlogDetail">
                                    <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                                    LEARN MORE
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
