
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/EN/Shared/_Layout.cshtml";
}

<section id="slider">
    
    <div class="hero-section">
        <div class="tf-element-carousel"
             data-slick-options='{
              "slidesToShow": 1,
              "slidesToScroll": 1,
              "infinite": true,
              "arrows": true,
              "dots": false,
              "fade": true,
              "swipe": true

            }'>
            <!--Hero Item start-->
            <div class="hero-item" style="background-image: url(/Content/img/slider1.png); background-color: #fff; height: 455px;">
                <!--Hero Content start-->
                
                <div class="container">
                    <div style="position: absolute; top: 0; margin: auto -15px; background-color: #6ccbdd; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 10px 15px 0 15px;">
                        <h5 style="font-weight: 500; color: #fff;">+44-7501-655-600</h5>
                    </div>
                    <div class="row pl-0 pr-0">
                        <div class="col-md-4 pl-0 pr-0">
                            <div class="hero-content-2 left hero-content-3 ">
                                <h5 class="" style="font-weight: 700; color: #6ccbdd;">Everyday We Celebrate!</h5>
                                <h4 class="" style="font-weight: lighter;">#Hairinhatsoft</h4>
                                <p>
                                    Hair transplantation can be defined as 'the permanent solution for hair loss'. A hair transplant operation can be expressed as; a microsurgical procedure that is performed in a hospital surgical setting.
                                </p>
                                <a class="link-read-more mt-4 d-block" style="width: 35%;">Join us!</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Hero Content end-->
            </div>
            <div class="hero-item" style="background-image: url(/Content/img/slider1.png); background-color: #fff; height: 455px;">
                <!--Hero Content start-->
                
                <div class="container">
                    <div style="position: absolute; top: 0; margin: auto -15px; background-color: #6ccbdd; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 10px 15px 0 15px;">
                        <h5 style="font-weight: 500; color: #fff;">+44-7501-655-600</h5>
                    </div>
                    <div class="row pl-0 pr-0">
                        <div class="col-md-4 pl-0 pr-0">
                            <div class="hero-content-2 left hero-content-3 ">
                                <h5 class="" style="font-weight: 700; color: #6ccbdd;">Everyday We Celebrate!</h5>
                                <h4 class="" style="font-weight: lighter;">#Hairinhatsoft</h4>
                                <p>
                                    Hair transplantation can be defined as 'the permanent solution for hair loss'. A hair transplant operation can be expressed as; a microsurgical procedure that is performed in a hospital surgical setting.
                                </p>
                                <a class="link-read-more mt-4 d-block" style="width: 35%;">Join us!</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!--Hero Content end-->
            </div>
        </div>
    </div>
    <!--slider section end-->


</section>
<div class="container" style="margin-top: -40px;">
    <div class="row pl-0 pr-0">
        <div class="col-md-12  pl-0 pr-0">
            <div class="infoForm">
                <form>
                    <div class="row p-4 ">
                        <div class="col-sm-12 col-lg-2 text-center">
                            <div class="text-center pl-2 pr-2 formText">
                                <span class="mb-2 d-block">Book Free Consultation</span>
                                <span class="w-25 m-auto mt-2 d-block" style="border-top: 5px solid #fff; border-radius: 5px;"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-2">
                            <select class="form-control">
                                <option value="0">Hair Transplant</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-lg-2">
                            <input type="text" class="form-control" name="Name" placeholder="Full Name" />
                        </div>
                        <div class="col-sm-12 col-lg-2">
                            <input type="text" class="form-control" name="Telephone" placeholder="Phone" />
                        </div>
                        <div class="col-sm-12 col-lg-2">
                            <input type="email" class="form-control" name="" placeholder="E-Mail" />
                        </div>
                        <div class="col-sm-12 col-lg-2 text-left">
                            <button class="btn float-right send-button"><img src="/Content/img/send.png" class="d-block m-auto" /> Send</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row pl-0 pr-0" style="background: #ffffff; border-radius: 8px; margin-left: -30px;margin-right: -30px;">
        <div class="col-md-2 pl-0 pr-0">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active text-center" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    <img src="/Content/img/hair.png" class="m-auto" />
                    <h6 class="m-auto font-weight-bold">FUE</h6>
                    <strong class="m-auto">Hair Transplantation</strong>
                </a>
                <a class="nav-link text-center" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                    <img src="/Content/img/beard.png" class="m-auto" />
                    <h6 class="m-auto font-weight-bold">FUE</h6>
                    <strong class="m-auto">Moustache & Beard</strong>
                </a>
                <a class="nav-link text-center" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                    <img src="/Content/img/ufue.png" class="m-auto" />
                    <h6 class="m-auto font-weight-bold">U FUE</h6>
                    <strong class="m-auto">Hair Transplant</strong>
                </a>
                <a class="nav-link text-center" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <img src="/Content/img/icefue.png" class="m-auto" />
                    <h6 class="m-auto font-weight-bold">ICE FUE</h6>
                    <strong class="m-auto">Hair Transplantation</strong>
                </a>
                <a class="nav-link text-center" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                    <img src="/Content/img/sapphire.png" class="m-auto" />
                    <h6 class="m-auto font-weight-bold">FUE</h6>
                    <strong class="m-auto">Sapphire Transplant</strong>
                </a>
                <a class="nav-link text-center" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <img src="/Content/img/mesotherapy.png" class="m-auto" />
                    <h6 class="m-auto font-weight-bold">Mesotherapy</h6>
                    <strong class="m-auto">Hair Transplant</strong>
                </a>
            </div>
        </div>
        <div class="col-md-10  pl-0 pr-0">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="nav nav-pills flex-column flex-sm-row intab">
                        <a class="flex-fill text-center nav-link active" data-toggle="pill" role="tab" aria-controls="home-tab" aria-selected="true" href="#homes">Hair Transplant</a>
                        <a class="flex-fill text-center nav-link" data-toggle="pill" role="tab" aria-controls="profile-tab" aria-selected="false" href="#profile">Dental Treatment</a>
                    </div>
                    <div class="tab-content-in" id="myTabContent">
                        <div class="tab-pane fade show active" id="homes" role="tabpanel" aria-labelledby="home-tab">
                            <h5 class="font-weight-lighter" style="color: #48464891!important; ">Hair Transplantation</h5>
                            <h3 class="font-weight-bold">FUE Hair Transplant Operation</h3>
                            <span class=" mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 50px;"></span>
                            <h5 class=" mt-5 d-block font-weight-bold" style="color:#484648">Hair Transplantation at NOA Clinic</h5>
                            <p class="mt-4 font-weight-normal" style="color:#484648">
                                Hair transplantation can be defined as 'the permanent solution for hair loss'. A hair transplant operation can be expressed as; a microsurgical procedure that is performed in a hospital surgical setting. The concept 'microsurgical operation' implies that; a hair transplant procedure will be carried out with minimal surgical intervention unlike traditional surgery.
                            </p>
                            <p class="mt-4 font-weight-normal" style="color:#484648">
                                A hair transplant operation, is an effective and permanent solution for individuals experiencing 'male-pattern baldness' which is also referred to as androgenetic alopecia. Apart from these, individuals who have scars or have lost hair due to various kinds of hair diseases can also safely undergo a hair transplant surgery.,
                            </p>

                            <a class="link-read-more mt-5 d-block" style="width: 19%;">Read More</a>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h5 class="font-weight-lighter" style="color: #48464891!important; ">Hair Transplantation</h5>
                            <h3 class="font-weight-bold">FUE Hair Transplant Operation</h3>
                            <span class=" mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 50px;"></span>
                            <h5 class=" mt-5 d-block font-weight-bold" style="color:#484648">Hair Transplantation at NOA Clinic</h5>
                            <p class="mt-4 font-weight-normal" style="color:#484648">
                                Hair transplantation can be defined as 'the permanent solution for hair loss'. A hair transplant operation can be expressed as; a microsurgical procedure that is performed in a hospital surgical setting. The concept 'microsurgical operation' implies that; a hair transplant procedure will be carried out with minimal surgical intervention unlike traditional surgery.
                            </p>
                            <p class="mt-4 font-weight-normal" style="color:#484648">
                                A hair transplant operation, is an effective and permanent solution for individuals experiencing 'male-pattern baldness' which is also referred to as androgenetic alopecia. Apart from these, individuals who have scars or have lost hair due to various kinds of hair diseases can also safely undergo a hair transplant surgery.,
                            </p>

                            <a class="link-read-more mt-5 d-block" style="width: 19%;">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
            </div>
        </div>
    </div>
</div>
<div class="container-color white">
    <div class="container topbox mt-5 pb-5">
        <div class="row pl-0 pr-0" style=" border-radius: 8px;">
            <div class="col-md-12 pl-0 pr-0 text-center">
                <h5 class="ml-auto mr-auto mt-5 font-weight-bold">Consistent in Patient Safety & Quality Measures</h5>
                <h5 class="ml-auto mr-auto font-weight-lighter">With Our Top Priority Doctors Performence</h5>
                <span class=" mt-3 d-block ml-auto mr-auto" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 50px;"></span>
            </div>
        </div>
        <div class="row pl-0 pr-0 mt-5" style="margin-left: -30px;margin-right: -30px;">
            <div class="col-md-3">
                <div class="box">
                    <div class="box-content  text-center p-4">
                        <img src="/Content/img/fullequipment.png" class="ml-auto mr-auto d-block" />
                        <h5 class="mr-auto">FULL EQUIPMENT LABORATORY</h5>
                        <span class="mr-auto ml-auto mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                        <p class="font-weight-lighter mt-3 mb-3">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>
                    </div>
                    <div class="box-footer text-center">
                        <a href="#">
                            <i class="fa fa-plus"></i>
                            LEARN MORE
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="box-content  text-center p-4">
                        <img src="/Content/img/keyQuality.png" class="ml-auto mr-auto d-block" />
                        <h5 class="mr-auto">KEY QUALITY MEASURES</h5>
                        <span class="mr-auto ml-auto mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                        <p class="font-weight-lighter mt-3 mb-3">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>
                    </div>
                    <div class="box-footer text-center">
                        <a href="#">
                            <i class="fa fa-plus"></i>
                            LEARN MORE
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="box-content  text-center p-4">
                        <img src="/Content/img/specialist.png" class="ml-auto mr-auto d-block" />
                        <h5 class="mr-auto">SPECIALIST DOCTORS TEAM</h5>
                        <span class="mr-auto ml-auto mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                        <p class="font-weight-lighter mt-3 mb-3">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>
                    </div>
                    <div class="box-footer text-center">
                        <a href="#">
                            <i class="fa fa-plus"></i>
                            LEARN MORE
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <div class="box-content  text-center p-4">
                        <img src="/Content/img/medical.png" class="ml-auto mr-auto d-block" />
                        <h5 class="mr-auto">MEDICAL IMPORTANCE</h5>
                        <span class="mr-auto ml-auto mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                        <p class="font-weight-lighter mt-3 mb-3">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>
                    </div>
                    <div class="box-footer text-center">
                        <a href="#">
                            <i class="fa fa-plus"></i>
                            LEARN MORE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row pl-0 pr-0 mt-5 blogbox" style="margin-left: -30px;margin-right: -30px;">
        <div class="col-md-4">
            <div class="box white">
                <div class="box-content  text-center pl-5 pr-5 pt-4">
                    <img src="/Content/img/hemsire.png" class="ml-auto mr-auto d-block mb-3" />
                    <h6 class="mr-auto font-weight-bold">An international network</h6>
                    <p class="font-weight-lighter mt-2 mb-4">An international network of expert doctors at your fingertips</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box white">
                <div class="box-content  text-center pl-5 pr-5 pt-4">
                    <img src="/Content/img/hastane.png" class="ml-auto mr-auto d-block mb-3" />
                    <h6 class="mr-auto  font-weight-bold">An international network</h6>
                    <p class="font-weight-lighter mt-2 mb-4">An international network of expert doctors at your fingertips</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box white">
                <div class="box-content  text-center pl-5 pr-5 pt-4">
                    <img src="/Content/img/yoga.png" class="ml-auto mr-auto d-block mb-3" />
                    <h6 class="mr-auto  font-weight-bold">An international network</h6>
                    <p class="font-weight-lighter mt-2 mb-4">An international network of expert doctors at your fingertips</p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 30px;">
            <div class="box white">
                <div class="box-content  text-center pl-5 pr-5 pt-4">
                    <img src="/Content/img/doktor.png" class="ml-auto mr-auto d-block mb-3" />
                    <h6 class="mr-auto  font-weight-bold">An international network</h6>
                    <p class="font-weight-lighter mt-2 mb-4">An international network of expert doctors at your fingertips</p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 30px;">
            <div class="box white">
                <div class="box-content  text-center pl-5 pr-5 pt-4">
                    <img src="/Content/img/temsilci.png" class="ml-auto mr-auto d-block mb-3" />
                    <h6 class="mr-auto  font-weight-bold">An international network</h6>
                    <p class="font-weight-lighter mt-2 mb-4">An international network of expert doctors at your fingertips</p>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 30px;">
            <div class="box white">
                <div class="box-content  text-center pl-5 pr-5 pt-4">
                    <img src="/Content/img/guvenlik.png" class="ml-auto mr-auto d-block mb-3" />
                    <h6 class="mr-auto  font-weight-bold">An international network</h6>
                    <p class="font-weight-lighter mt-2 mb-4">An international network of expert doctors at your fingertips</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-0 pr-0 mt-5">
        <div class="col-md-12 text-center">
            <h4 class="font-weight-bold" style="color: #91d7e4; font-size: 1.3rem; letter-spacing: 1.5px; ">BLOG</h4>
            <h4 class="font-weight-bolder" style=" font-size: 1.5rem; letter-spacing: 1.5px;">Hair and Dental Care</h4>
            <span class=" mt-3 d-block ml-auto mr-auto" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 50px;"></span>
        </div>
    </div>
    <div class="row pl-0 pr-0 mt-5 carebox " style="margin-left: -30px;margin-right: -30px;">
        <div class="col-md-4">
            <div class="box white">
                <img src="/Content/img/block1.png" class="ml-auto mr-auto d-block w-100" />
                <div class="box-content pl-5 text-left mt-5" style="width: 85%;">
                    <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                    <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                    <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                    <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                </div>
                <div class="box-footer pl-5">
                    <a href="#">
                        <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                        LEARN MORE
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box white">
                <img src="/Content/img/block2.png" class="ml-auto mr-auto d-block w-100" />
                <div class="box-content pl-5 text-left mt-5" style="width: 85%;">
                    <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                    <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                    <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                    <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                </div>
                <div class="box-footer pl-5">
                    <a href="#">
                        <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                        LEARN MORE
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box white">
                <img src="/Content/img/block3.png" class="ml-auto mr-auto d-block w-100" />
                <div class="box-content pl-5 text-left mt-5" style="width: 85%;">
                    <span class="font-weight-lighter" style="font-size: .9rem;"><img src="/Content/img/calendar.png" class="mr-1" style="margin-top: -4px; " /> 30.12.2019</span>
                    <h5 class="mr-auto">10 False Facts About Hair Transplantation</h5>
                    <span class="mt-3 d-block" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 40px;"></span>
                    <p class="font-weight-lighter mt-3 mb-4">Hair transplantation has become an increasingly popular treatment for hair loss with its excellent results. The first step on the road to hair transplantation...</p>

                </div>
                <div class="box-footer pl-5">
                    <a href="#">
                        <i class="fa fa-plus" style="color: #6ccbdd;"></i>
                        LEARN MORE
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-0 pr-0 mt-5">
        <div class="col-md-12 border-top mt-4">
            <div class="pl-3 pr-3 link-content"><a class="link-read-more d-block">More Hair Care Tips</a></div>
        </div>
    </div>
    <div class="row pl-0 pr-0 mt-5"  style="margin-left: -30px;margin-right: -30px;">
        <div class="col-md-12 pl-0 pr-0">
            <div class="alt-slider"><img src="/Content/img/alt_slider.png"/></div>
        </div>
    </div>
    <div class="row pl-0 pr-0 mt-5">
        <div class="col-md-12 text-center">
            <h4 class="font-weight-bold" style="color: #91d7e4; font-size: 1.3rem; letter-spacing: 1.5px; ">QUESTION</h4>
            <h4 class="font-weight-bolder" style=" font-size: 1.5rem; letter-spacing: 1px;">Frequently Asked Questions</h4>
            <span class=" mt-3 d-block ml-auto mr-auto" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 50px;"></span>
        </div>
    </div>
    <div class="row pl-0 pr-0 mt-5" style="margin-left: -30px;margin-right: -30px;">
        <div class="col-md-12 pl-0 pr-0">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <b>01</b>
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Do you have services for women patients?
                            </button>
                            <span class="arrowCollapse float-right"><img src="/Content/img/minus.png" /></span>
                        </h5>

                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Yes, women also suffer from hair loss caused by androgenetic alopecia or they might need to strengthen their existing hair. Hair transplantation or hair treatment services are also provided for our women patients.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <b>02</b>
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How long does it take to completely recover from a hair transplant procedure?
                            </button>
                            <span class="arrowCollapse float-right"><img src="/Content/img/plus.png" /></span>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Yes, women also suffer from hair loss caused by androgenetic alopecia or they might need to strengthen their existing hair. Hair transplantation or hair treatment services are also provided for our women patients.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <b>03</b>
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Can I cut my hair before having a hair transplant procedure?
                            </button>
                            <span class="arrowCollapse float-right"><img src="/Content/img/plus.png" /></span>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Yes, women also suffer from hair loss caused by androgenetic alopecia or they might need to strengthen their existing hair. Hair transplantation or hair treatment services are also provided for our women patients.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <b>04</b>
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Are hair transplantation operations painful?
                            </button>
                            <span class="arrowCollapse float-right"><img src="/Content/img/plus.png" /></span>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            Yes, women also suffer from hair loss caused by androgenetic alopecia or they might need to strengthen their existing hair. Hair transplantation or hair treatment services are also provided for our women patients.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-0 pr-0 mt-5">
        <div class="col-md-12 border-top mt-4">
            <div class="pl-3 pr-3 link-content" style=""><a class="link-read-more d-block">More FAQ's</a></div>
        </div>
    </div>
    <div class="row pl-0 pr-0 mt-5">
        <div class="col-md-12 text-center mt-5">
            <h4 class="font-weight-bold" style="color: #91d7e4; font-size: 1.3rem; letter-spacing: 1.5px; ">VİDEO</h4>
            <h4 class="font-weight-bolder" style=" font-size: 1.5rem; letter-spacing: 1px;">NOA Medcare TV</h4>
            <span class=" mt-3 d-block ml-auto mr-auto" style="border-top: 5px solid #6ccbdd; border-radius: 5px; width: 50px;"></span>
        </div>
    </div>
    <div class="row  pl-0 pr-0 mt-5" style="margin-left: -30px;margin-right: -30px;">
        <div class="col-md-4">
            <img src="/Content/img/video1.png" style="width: 100%;" />
        </div>
        <div class="col-md-4">
            <img src="/Content/img/video2.png" style="width: 100%;" />
        </div>
        <div class="col-md-4">
            <img src="/Content/img/video3.png" style="width: 100%;" />
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(".btn-link").on("click",
            function () {
                $(".btn-link").parent().find(".arrowCollapse img").attr("src", "/Content/img/plus.png");
                var $this = $(this);
                if ($this.attr("class") !== "btn btn-link collapsed") {
                    $(this).parent().find(".arrowCollapse img").attr("src", "/Content/img/plus.png");
                } else {
                    $(this).parent().find(".arrowCollapse img").attr("src", "/Content/img/minus.png");
                }
            });
    </script>

}